.App {
  text-align: center;
}

button, input {
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0, .5);
  padding: 5px 15px;  
  font-size: larger;
}

input {
  background:rgba(0,0,0, .1);
  min-width: 40%;
}

button.submit {
  background:rgba(0,200,0, .6);
}